<div class="exm01 theme-1">
    <div class="container slide">
        <div class="row">
            <div class="col-sm-12 header">
                <b>Write the prime factorization of 48.</b><br/>
                Choose any factor pair of 48 to begin the factor tree
            </div>
            <div class="col-sm-6 content">
                <img src="../../static/images/tree-first-with-popup.svg" alt="Alt text">
            </div>
            <div class="col-sm-6 content">
                <img src="../../static/images/tree-second-with-expression.svg" alt="Alt text">
            </div>
            <div class="col-xs-2">
                <audio-component src="en=../../static/audio/cat5.mp3;es=../../static/audio/cat5_es.mp3;"></audio-component>

            </div>
            <div class="col-xs-10">
                <navigation-component controller-as="main"></navigation-component>
            </div>
        </div>
    </div>
    <captions-component></captions-component>
</div>
