<div class="captions">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-initial toggle" ng-click="captionsToggle()">
                    <svg width="32" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="captions == true">
                        <use xlink:href="../../static/images/Buttons/caption-toggle-on.svg#Page-1" />
                    </svg>
                    <svg width="32" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="captions == false">
                        <use xlink:href="../../static/images/Buttons/caption-toggle-off.svg#Page-1" />
                    </svg>
                </button>
                <span ng-show="captions == true">
                    <!-- caption text -->
                </span>
            </div>
        </div>
    </div>
</div>
