<div class="col-xs-12 navigation">
    <!-- play/stop button -->
    <button ng-click="play()" class="btn" ng-show="visibility.play == true">
        <svg width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="switches.play == true">
            <use xlink:href="../../static/images/Buttons/audio-toggle-pause.svg#Page-1"/>
        </svg>
        <svg width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="switches.play == false">
            <use xlink:href="../../static/images/Buttons/audio-toggle-play.svg#Page-1"/>
        </svg>
    </button>
    <!-- prev button -->
    <a ng-click="prev()" class="btn" ng-show="visibility.prev == true">
        <svg width="100" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="../../static/images/Buttons/back.svg#Page-1" />
        </svg>
    </a>
    <!-- next button -->
    <a ng-click="next()" class="btn" ng-show="visibility.next == true">
        <svg width="100" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="../../static/images/Buttons/next.svg#Page-1" />
        </svg>
    </a>
    <!-- show all -->
    <a ng-click="showAll()" class="btn btn-initial right" ng-show="visibility.showAll == true">
        <svg width="48" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7 -7 48 45">
            <use xlink:href="../../static/images/Buttons/show-all.svg#Page-1" />
        </svg>
    </a>
    <!-- reset btn -->
    <a ng-click="reset()" class="btn btn-initial right" ng-show="visibility.reset == true">
        <svg width="48" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 -10 48 45">
            <use xlink:href="../../static/images/Buttons/reload.svg#Page-1" />
        </svg>
    </a>
</div>
