<div class="more-info" style="left: {{left}}; top: {{top}}">
    <a class="more-info-btn" ng-click="toggle()">
        <svg width="39" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="../../static/images/Buttons/more-info-button.svg#Page-1" />
        </svg>
    </a>
    <div class="popup" ng-show="show === true" ng-transclude></div>
</div>
